{% extends 'accounts/main.html' %}

{% block content %}
    <br>
    <div class="row">
        <div clas="col-md-6">
            <div class="card card-body">
                <p> Are you sure you want to delete <span>{{ item.product.name }}</span></p>
                <form method="post">
                    {% csrf_token %}

                    <a href="/" class="btn btn-sm btn-danger">Cancel</a>

                    <input class='btn btn-sm btn-info' type="submit" name="submit">

                </form>
            </div>
        </div>
    </div>



{% endblock %}